{% assign item = include.item %}
{% assign cell = include.cell | default: 'archive' %}
{% assign content_key = include.key %}

{% if cell == 'publication' %}
  {% include signal-publication-row.html publication=item %}
{% else %}
  {% assign category_slug = item.category %}
  {% assign period = item.period %}
  {% assign period_is_date = false %}
  {% unless period %}
    {% assign period = item.date | date: "%b %d, %Y" | upcase %}
    {% assign period_is_date = true %}
  {% endunless %}
  {% assign organization = item.organization %}
  {% assign summary = item.summary %}
  {% assign item_link = item.link | default: item.url %}
  {% assign category_label = category_slug %}
  {% assign category_groups = site.data.content_groups[content_key] %}
  {% for category_group in category_groups %}
    {% if category_group.slug == category_slug %}{% assign category_label = category_group.label %}{% endif %}
  {% endfor %}
  {% assign is_external_link = false %}
  {% if item_link contains '://' %}{% assign is_external_link = true %}{% endif %}

  {% include signal-plain-row.html item=item period=period period_is_date=period_is_date organization=organization summary=summary item_link=item_link category_slug=category_slug category_label=category_label is_external_link=is_external_link %}
{% endif %}
